body{
  background-color: #ff5e94;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: #03a9f4;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  z-index: 1000;
  box-shadow: 0 12px 4px rgba(0, 0, 0, 0.1);
}
header h1 {
  text-align: center;
  background-color: aliceblue;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px;
}
.subtitulo{
  width: 100%;
  display: flex;
  justify-content: center;
}
h4{
  color: #fff;
  text-shadow: 12px 10px 5px rgba(0, 0, 0, 0.5);
}
img{
  width: 300px;
  height: 200px;
  border-radius: 10px;
  box-shadow: -10px 12px 5px rgba(0, 0, 0, 0.5);
}
.content1{
  width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.menuContain{
  display: flex;
  width: 100%;
}
.menu {
  width: 100%;
  display: flex;
}

.menu li{
  width: 33%;
  text-align: center;
  /* margin-left: 0.5rem; */
  border-radius: 5px;
  background-color: #03a9f4;
  list-style: none;
}
.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  box-shadow: 0 12px 0 rgba(0, 0, 0, 0.5) ;
  background-color: #fff;
  background-image: linear-gradient(to bottom,#ff5e94 5%, #fff 95% );
  text-align: center;
  border-style:none;
  width: 90%;
  padding: 5px;
  border-radius: 5px;
  border-color: black;
}


/* Pie de página */
footer {
  position: relative;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}


